  html {
    font-size: 62.5%;
  }
  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 1.6rem;
  }

  ul {
    margin: 0;
    padding-left: 20px;
  }
  section[role="region"] {
    position: absolute;
    width: 100%;
    height: calc(100% - 4rem);
  }
  .panel {
    position: fixed;
    visibility: hidden;
    width: 100%;
    overflow: hidden;
    height: calc(100% - 4rem);
    background-color: #FFFFFF;
    transition: transform ease 0.4s;
  }
  #contentList {
    position: absolute;
    width: 100%;
    height: calc(100% - 9rem);
    top: 5rem;
    bottom: 0rem;
    overflow: scroll;
  }
  #trackInfoBar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
  background-color: #AAAAAA;
  text-align: right;
}

  .panel:target {
    transform: translateX(0);
    visibility: visible;
  }
  section[role="region"] [role="toolbar"]{
    position: absolute;
  }
