
  #folderList a,
  #folderList div {
    padding-top: 3px;
  }
  #debug {
    padding: 0.5em;
    border: thin inset;
    font: small monospace;
    color: black;
  }
  .audio, .video, .image, .unknown, .server, .folder, #folderlist a {
    display: block;
    padding-top: 3px;
    padding-left: 20px;
    height: 5rem;
    line-height: 5rem;
    width: auto;
    border-bottom: 0.1rem solid #E6E6E3;
  }
  li {
    cursor: pointer;
  }
  li.folder {
    color: #FF9900;
    padding-left: 40px;
    background: url(image/folder_closed.png) left center no-repeat,
                url(image/icon_folder.png) left 20px center no-repeat;
  }
  li.folder.opened {
    background: url(image/folder_opened.png) left center no-repeat,
                url(image/icon_folder.png) left 20px center no-repeat;
  }
  .audio {
    color: #00CC66;
    background: url(image/icon_music.png) left center no-repeat;
  }
  .video {
    color: #00CC66;
    background: url(image/icon_video.png) left center no-repeat;
  }
  .image {
    color: #00CC66;
    background: url(image/icon_image.png) left center no-repeat;
  }
  .unknown {
    color: #00CC66;
    background: url(image/icon_unknown.png) left center no-repeat;
  }
  .server {
    background: url(image/icon_server.png) left center no-repeat;
    font-weight: bold;
  }
  .player {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    height: calc(100% - 9rem);
    width: 100%;
  }
  #controlButtons {
    bottom: 0px;
    right: 20px;
  }
  li:hover {
    color: #003399;
  }
  li:visited {
    color: #999999;
  }
  .hide {
    display: none;
  }
  .needRefresh {
    cursor: pointer;
    padding-left: 40px;
    color: #00CC66;
  }

  #discoverButton {
    background: url(search.png) center center no-repeat;
  }
  #toPlayerPage {
    background: url(image/iconaction_media_playlistfilter.png)  top center no-repeat;
  }
  #toDirectoryPage {
    background: url(image/iconaction_media_albumfilter.png) top center no-repeat;
  }