<!DOCTYPE html>
<html>
<head>

<title>Presentation API client</title>
<script>
  var roomNum = <%= roomNum %>;
  var rank = 'primary';
  var eventUrl = '/events/' + rank + '/' + roomNum;
</script>
<style>
  #peerList {
    width: 100px;
  }
</style>
<script defer src='/statics/lib/js/adapter.js'></script>
<script defer src='/statics/lib/js/pure_http_peer.js'></script>
<script defer src='/statics/lib/js/presentation_session.js'></script>
<script defer src='/statics/lib/js/presentation.js'></script>
<script defer src='/statics/client/js/user.js'></script>
</head>

<body>
<h1> Room number: <%= roomNum %></h1>
<section>
  <input id="chattxt"></input>
  <button id="sendbutton">Send</button>
</section>
<hr />
<section>
  <select id="peerList" size=10></select>
  <button id="btnConnect">connect</button>
  <button id="btnDisconnect">disconnect</button>
</section>
<div id="status"></div>
</body>
</html>
