2<!DOCTYPE html>
<html>
<head>

<title>Presentation API client</title>
<script>
  var roomNum = <%= roomNum %>;
  var rank = 'secondary';
  var eventUrl = '/events/' + rank + "/" + roomNum;
</script>
<script defer src='/statics/lib/js/adapter.js'></script>
<script defer src='/statics/lib/js/pure_http_peer.js'></script>
<script defer src='/statics/lib/js/presentation_session.js'></script>
<script defer src='/statics/lib/js/present_host_adapter.js'></script>
<script defer src='/statics/host/js/host.js'></script>

<body>
<article>
<h1> Room number: <%= roomNum %></h1>
</article>
</body>
</html>
