#folder-editor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: RGBA(0, 0, 0, 0.8);
}

#folder-editor-grid-view {
  width: 100%;
  height: 70%;
  position: relative;
  left: 0;
  top: 10%;
  overflow: scroll;
}

#folder-editor.hidden {
  display: none;
}

.folder-editor-card {
  width: 5rem;
  height: 5rem;
}

#folder-editor smart-button[type="app-button"] {
  width: 18rem;
  height: 18rem;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 5.8rem 2.6rem 2.9rem 2.6rem;
  background-size: 100% auto;
}

#folder-editor smart-button[type="app-button"] > .name {
  width: 18rem;
  height: 5rem;
  font-size: 1.6rem;
}

#folder-editor smart-button[type="app-button"].selected {
  outline: 0.6rem solid #0097b5;
}

.folder-editor-panel {
  top: 80%;
  position: absolute;
}
