#debug-ttl {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2rem;
  background-color: darkgreen;
  pointer-events: none;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: right;
  font-weight: bold;
  overflow: hidden;
  padding-left: .3rem;
  padding-right: .3rem;
}
